<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - RepositoryDemo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/RepositoryDemo.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Product" asp-action="Index">Index</a>
            <a class="navbar-brand" asp-area="" asp-controller="Product" asp-action="ProductIndex">ProductIndex</a>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
                    </li>
                    <li class="list-inline-item">
                        <a asp-controller="Account" asp-action="Register"><button class="btn-primary">Sign Up</button></a>
                    </li>
                    
                    <a asp-controller="Basket" asp-action="Index">
                        <span style="font-size: 20px">
                            <i class="fa-solid fa-basket-shopping"></i>
                            @* <span class="badge cbdg1" id="totalCountNav">@ViewBag.BasketCount</span> *@
                        </span>
                        @* <span class="cart-total position-relative" id="totalPriceNav"> @ViewBag.TotalPrice.ToString("C2")</span> *@
                    </a>
                    
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - RepositoryDemo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="https://kit.fontawesome.com/872796f0d8.js" crossorigin="anonymous"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>



